@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500&display=swap");

html,
body {
  height: 100%;
  background: #f3f3f3;
  font-family: "Roboto", sans-serif;
  color: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-not-visible {
  display: none;
}

#chat {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.horizontal-container {
  display: flex;
}

.username {
  width: 100px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.message {
  width: 500px;
}

input {
  width: 600px;
  border: 1px solid #ddd;
  height: 50px;
  padding: 0 20px;
  font-size: 14px;
  background-color: white;
}

button {
  width: 600px;
  height: 50px;
  font-size: 14px;
  background: #069;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: #FFF;
  margin-top: 10px;
}

.messages {
  width: 600px;
  height: 400px;
  margin: 20px 0;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: white;
}